{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Django React Integrated</title>
	<link rel="stylesheet" href="{% static 'css/main.2cce8147.chunk.css' %}">
</head>
<body>
	{% block content %}
	   
	{% endblock content %}

	<script type="text/javascript" src="{% static 'js/2.b41502e9.chunk.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.28647029.chunk.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/runtime~main.a8a9905a.js' %}"></script>
</body>
</html>
